/* start custom scss snippet */
.page__content {
    text-align: justify;
  }
/* end custom scss snippet */

pre.python {
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow-x: auto;
  padding: 16px;
}
